<footer class="footer">
    <div class="container">
      <p>© [{{currentYear }}] KOAJ. inc. Todos los derechos reservados.</p>
    </div>
    <div class="container">
        <p>Desarrolladores:</p>
        <ul>
            <li>Nombre: Git Hub:</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
  </footer>
  
