<footer>
    <div class="footerContainer">//footerContainer is a class in footer.component.css
        <div class="footerLegal">//
            <p>© {{ currentYear }} KOAJ, Inc. All Rights Reserved</p>
        </div>
    
        <div class="footerDevelopers">
            <p>Developers:</p>
            <ul>
                <li *ngFor="let developer of developers">
                    <a [href]="developer.github" target="_blank" rel="noopener noreferrer">
                         {{ developer.name }}
                     </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

