<div class="cart">
  <div> 
    <h1>Tu carrito de compras</h1>
  </div>
  <div class="cartItems">
    <app-cart-item [cartId]="item" *ngFor="let item of cartIDArray"></app-cart-item>
  </div>
  
  <div class="checkout" *ngIf="totalAmount > 0">
    <p>Total: ${{ totalAmount }}</p>
    <button><a href="#">Continuar comprando</a></button>
    <button (click)="checkout()">Pagar</button>
  </div>
  
  <div class="emptyCartMessage" *ngIf="totalAmount <= 0">
    <p>Tu carrito está vacío.</p>
  </div>
</div>
