body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.title_about_us {
  background-color: white;
  color: black;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100px;
  text-transform:uppercase;
}
.container{
  font-size: 100px;
  padding-bottom: 0;
  text-transform: uppercase;
  margin:0;
}

.title_about_us,
.container,
.container_text{
  padding-left: 5%;
}

.container_text{
  width: 85%;
  border: 1px solid white;
  font-size: 30px;
  margin:5%;
}

.container_img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_img .item {
  flex: 1;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .container_img {
    flex-direction: column;
  }

  .container_img .item {
    flex: none;
    font-size: 35px
  }
}

.item {
  width: 50%;
  margin-top: 5%;
}

.item img {
  max-width: 80%;
  height: auto;
  padding-left: 10%;
}
p {
    display: block;
    font-size: 25px;
    margin-block-start: 4em;
    margin-block-end: 5em;
    margin-inline-start: 9%;
    margin-inline-end: 15px;
}

