<div class=" bloque_top">
  <h1 class="title_about_us">Conoce más sobre</h1>
  <div class="bloque_seccion">
    <h2 class="container">nosotros</h2>
    <p class="container_text">
      En Koaj, Nos Esforzamos Por Ofrecer Prendas De Vestir De Alta Calidad, Diseñadas Con Atención Al Detalle Y Confeccionadas Con Los Mejores Materiales. Nuestra Colección Incluye Una Amplia Variedad De Estilos, Desde Lo Clásico Y Sofisticado Hasta Lo Moderno Y Vanguardista, Para Adaptarnos A Los Gustos Y Preferencias De Cada Individuo.
    </p>

    <div class="container_img">
      <div class="item">
        <img src="../../../assets/image.jpg" class="img" alt="Descripción de la imagen">
        <p class="text_2_benefits">En nuestra tienda, encontrarás una selección cuidadosamente curada de ropa para hombres y mujeres. Desde elegantes trajes y camisas hasta cómodos jeans y prendas casuales, tenemos todo lo que necesitas para lucir a la moda en cualquier ocasión. Nuestro equipo de expertos en moda está siempre disponible para brindarte asesoramiento personalizado y ayudarte a encontrar el conjunto perfecto que refleje tu estilo único.</p>
      </div>
      <div class="item">
        <img src="../../../assets/image3.jpg" class="img" alt="Descripción de la imagen">
        <p> </p>
      </div>
    </div>
    <div>
      HOLA, aquí va el footer
    </div>
  </div>
</div>

