<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="bloque_top">
  <h1 class="title_about_us">Conoce mas sobre</h1>
  <div class="bloque_seccion">
    <h2 class="container">nosotros</h2>
    <p class="container_text">
      En Koaj, Nos esforzamos por ofrecer prendas de vestir de alta calidad, diseñadas con atencion al detalle y confeccionadas con los mejores materiales. Nuestra colección incluye variedad de estilos, desde lo clasico y sofisticado hasta lo moderno y vanguardista, para adaptarnos a los gustos y preferencias de cada individuo.
    </p>

    <div class="container_img">
      <div class="item">
        <img src="../../../assets/img/image.jpg" class="img" alt="Descripción de la imagen">
        <p class="text_2_benefits">En nuestra tienda, encontrarás una selección cuidadosamente curada de ropa para hombres y mujeres. Desde elegantes trajes y camisas hasta cómodos jeans y prendas casuales, tenemos todo lo que necesitas para lucir a la moda en cualquier ocasión. Nuestro equipo de expertos en moda está siempre disponible para brindarte asesoramiento personalizado y ayudarte a encontrar el conjunto perfecto que refleje tu estilo único.</p>
      </div>
      <div class="item">
        <img src="../../../assets/img/image2.jpg" class="img" alt="Descripción de la imagen">
        <p> </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>

