
.registerContainer {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilo del contenedor de registro */
 .titleRegisterContainer {
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: Helvetica, sans-serif;
    font: bold;
    font-weight: bold;
}
/* Estilo del título del contenedor de registro */
 .titleRegisterContainer h1 {
    width: 100%;
}
/* Estilo del título h1 dentro del contenedor de registro */
 .principalRegisterContainer {
    display: block;
    background-color: white;
    width: 47%;
    height: 95%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
    opacity: 1;
}
/* Estilo del contenedor principal de registro */
 .buttonRegisterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilo del contenedor de botón de registro */
 .principalContainerRegisterFrom form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/* Estilo del contenedor principal del formulario de registro */
 .usernameRegisterContainer,
.paswordRegisterContainer,
.fullNameRegisterContainer,
.emailRegisterContainer,
.phoneRegisterContainer,
.adressRegisterContainer {
    font-family: Helvetica, sans-serif;
    font: bold;
    font-weight: bold;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin  : 10px 10px;
}
/* Estilos de los contenedores de campos de registro (nombre de usuario, contraseña, nombre completo, etc.) */
 .usernameRegisterContainer input,
.paswordRegisterContainer input,
.fullNameRegisterContainer input,
.emailRegisterContainer input,
.phoneRegisterContainer input,
.adressRegisterContainer input{
    padding: 0 10px;
    font-size: 20px;
}
/* Estilos de los campos de entrada de texto dentro de los contenedores de registro */
 .buttonRegisterContainer {
    font-family: Helvetica, sans-serif;
    font: bold;
    font-weight: bold;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin  : 5px 10px;
}
/* Estilo del contenedor de botón de registro */
 .buttonRegisterContainer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Estilos del botón de registro */
 #buttonRegister:hover {
    background-color: #131313;
}
/* Estilo cuando el cursor se sitúa sobre el botón de registro */
#usernameRegister,
#passwordRegister,
#fullNameRegister,
#emailRegister,
#phoneRegister,
#adressRegister {
    width: 100%;
    height: 40px;
    border: 1px solid #707070;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 23px;
    opacity: 1;
}
/* Estilos de los campos de entrada de texto de registro */
 #buttonRegister{
    color: white;
    width: 100%;
    height: 40px;
    background: #000000;
    border-radius: 10px;
}
/* Estilos del botón de registro */