<div class="mainBoxPay"><!-- Div que contiene a el logo,texto y boton  -->
    <div class="logoPay"><!--Div que contiene el logo -->
        <p>KOAJ</p><!--Texto del logo -->
    </div>
    <div class="textPay"><!--Div que contiene el texto de pago -->
        <p>Thank you for choosing our online store as your shopping destination! With your support, you help us grow and continue to offer exceptional products and services.</p><!--Texto de pago -->

        <p>Enjoy your purchase, and we hope to see you again soon in our online store!</p><!--Texto de pago -->

    </div>
    <div class="buttomPay"><!--Div que contiene el boton de pago -->
        <a href="#">Go back</a><!--Texto del boton del pago-->
    </div>
