* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent; /* Ocultar el cursor titilante */
}

.selected {
    border: 2px solid blue;
}

/*------------------CONTENEDOR PRINCIPAL------------------*/

.principalContainer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 46px;
    opacity: 1;
}

/*------------------IMAGENES------------------*/

.images{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*------------------IMAGENES PRINCIPAL------------------*/

.images img {
    margin: 10px;
    border-radius: 11px;
    width: 80%;
    height: 80%;
}

/*------------------IMAGENES PEQUEÑAS------------------*/

.littleImages {
    display: flex;
}

.littleImages img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

/*------------------BODY DE DESCRIPCION ------------------*/

.description{
    width: 100%;
}

/*------------------TITULO------------------*/

.title {
    width: 90%;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 60px;
    color: #000000;
}

/*------------------DESCRIPCION-----------------*/

.descriptionText {
    font-size: 20px;
    font-family: Helvetica;
    width: 90%;
    height: 90%;
    background-color: #DDDDDD;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    opacity: 1;
    padding: 10px; /* Agregar margen al texto */
}


/*------------------BOTON Y PRECIO------------------*/

.below {
    display: flex;
    margin-top: 20px;
}

/*------------------PRECIO------------------*/

.price {
    width: 70%;
    color: #5D5D5D;
    font-size: 60px;
    font-family: Helvetica;
    font-weight: bold;
}

/*------------------BOTON ADD TO CART------------------*/


.btn-primary {
    height: 72px;
    width: 30%;
    float: right;
    border-radius: 36px;
    margin-right: 10%;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 72px;
    margin-bottom: 10px;
}

/*------------------MEDIA QUERIES------------------*/

@media (max-width: 1100px) {
    .btn-primary {
        font-size: 20px;
        justify-content: center;
    }
}

@media (max-width: 844px) {
    .littleImages img {
        width: 50px;
        height: 50px;
    }

    .title,
    .price {
        font-size: 30px;
    }

    .btn-primary {
        height: 35px;
        width: 40%;
        font-size: 18px;
        line-height: 35px;
    }
}

@media (max-width: 571px) {
    .btn-primary {
        font-size: 15px;
    }
}

@media (max-width: 520px) {
    .btn-primary {
        font-size: 12px;
    }
}

@media (max-width: 488px) {
    .images {
        margin: 0;
        width: 100%;
    }

    .images img {
        width: 80%;
        height: 80%;
    }

    .littleImages img {
        margin: 1px;
        width: 50px;
        height: 50px;
    }

    .title,
    .price {
        font-size: 30px;
    }

    .btn-primary {
        height: 35px;
        width: 40%;
        font-size: 13px;
        line-height: 16px;
    }
}

@media (max-width: 346px) {
    .images {
        display: flex;
        flex-direction: column;
    }

    .images img {
        width: 80%;
        height: 80%;
    }

    .littleImages img {
        margin: 1px;
        width: 50px;
        height: 50px;
    }

    .littleImages {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 14px;
        text-align: left;
    }

    .descriptionText {
        font-family: Helvetica;
        font-size: 10px;
        width: 90%;
        height: 224px;
    }

    .price {
        font-size: 15px;
    }

    .btn-primary {
        height: 35px;
        width: 50%;
        border-radius: 12px;
        font-size: 10px;
        justify-content: center;
        text-align: center;
        line-height: 17px;
    }

    .principalContainer {
        border-radius: 15px;
    }
}