<div class="container" *ngIf="product">                             <!-- Si existe el producto -->
                                                           
        <div class="principalContainer">                            <!-- Muestra el producto -->

          <div class="images">
              <img class="mainImage" [src]="selectedImage || product.mainImage" alt="Card image cap"> <!-- Mostrar la imagen seleccionada o la imagen principal -->
              <div class="littleImages">                          <!-- Muestra las imagenes pequeñas -->     
                <img *ngFor="let image of product.images" [src]="image" alt="" (click)="selectImage(image)" [class.selected]="image === selectedImage">
              </div>
          </div>

          <div class="description">                                 <!-- Muestra el cuerpo del producto -->
              <h2 class="title">{{ product.name }}</h2>      <!-- Muestra el nombre del producto -->
              <p class="descriptionText">{{ product.description }}</p>  <!-- Muestra la descripción del producto -->
              <div class="below">                                 <!-- Muestra el precio y el botón de añadir al carrito -->
                  <p class="price">${{ product.price.toLocaleString() }}</p>  <!-- Muestra el precio del producto -->
                  <a href="#" class="btn btn-primary">Add to cart</a> <!-- Botón de añadir al carrito -->                
              </div>    
          </div> 

        </div>

</div>