<header>
  <!-- Se define un navbar -->
  <nav class="navbar">
    <div class="navbar-brand">
      <!-- Se define un logo -->
      <a class="navbar-logo" href="/"><img [src]="logo"></a>
    </div>
    <div class="navbar-links">
      <!-- Botón con su evento para mostrar el menu responsive -->
      <button href="" class="menu-button" (click)="toggleNavbar()">☰</button>
      <!-- Se define el listado del menu -->
      <ul [ngClass]="{ 'show': showNavbar }">
        <li><a href="">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="products">Products</a></li>
        <li><a href="cart">Cart</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">Inventario</a></li>
      </ul>
    </div>
  </nav>
</header>