<header>
  <!-- Se define un navbar -->
  <nav class="navbar">
    <div class="navbar-brand">
      <!-- Se define un logo -->
      <a class="navbar-logo" href="/"><img [src]="logo"></a>
    </div>
    <div class="navbar-links">
      <!-- Botón con su evento para mostrar el menu responsive -->
      <button href="" class="menu-button" (click)="toggleNavbar()">☰</button>
      <!-- Se define el listado del menu -->
      <ul [ngClass]="{ 'show': showNavbar }">
        <li class="welcome">¡Bienvenido{{username}}!</li>
        <li><a href="products">Productos</a></li>
        <li><a href="#">Carrito</a></li>
        <li><a href="#" *ngIf="isLoggedIn && isLoggedInAdmin">Inventario</a></li>
        <li><a href="about">¿Quienes somos?</a></li>
        <li><a href="login" *ngIf="!isLoggedIn">Iniciar Sesion</a></li>
        <li><a href="" (click)="logoutPress()" *ngIf="isLoggedIn">Cerrar Sesion</a></li>
      </ul>
    </div>
  </nav>
</header>
